service: serverless-nodejs-api-alpha

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: ap-northeast-1
  iamRoleStatements:
    - Effect: "Allow"
      Action: 
          - "s3:*"
      Resource: "*"

functions:
  getMsg:
    handler: handler.hello
    environment: dev
    events:
      - http: GET /
  package:
    artifact: https://serverless-nodejs-api-al-serverlessdeploymentbuck-g6ygsogopite.s3-ap-northeast-1.amazonaws.com/fak.zip