service: serverless-nodejs-api-alpha

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: ap-northeast-1
  iamRoleStatements:
    - Effect: "Allow"
      Action: 
          - "s3:*"
      Resource: "*"

functions:
  getMsg:
    handler: handler.hello
    events:
      - http: GET /